<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Regress">
    <test name="Create Credit Card Witout Visiting Bank">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.example.alphabank.positivetests.creditcardapplication.CreateCreditCardWithoutVisitingBankTest"/>
        </classes>
    </test>
</suite>


